{% extends 'base.html' %}

{% block title %}Note Detail{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4 text-center">{{ note.title }}</h1>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="mb-4">
                        <small class="text-muted">Created at: {{ note.created_at }} | Updated at: {{ note.updated_at }} by {{note.author}}</small>
                    </div>
                    <p class="card-text">{{ note.content }}</p>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-4">
                <a href="{%url 'notes'%}" class="btn btn-secondary">Back to Notes</a>
                <div>
                    <a href="{%url 'note_edit' pk=note.pk%}" class="btn btn-info me-2">Edit</a>
                    <a href="{% url 'note_delete' pk=note.pk%}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
