{% extends 'base.html' %}

{% block title %}
Change Succeed
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title mb-4">Your Password Has Been Successfully Changed</h2>
                    <a href="{%url 'dashboard'%}" class="btn btn-success">Back to home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
