{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Type the New Password
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg rounded">
                <div class="card-body">
                    <h2 class="card-title mb-4 text-center">Enter Your New Password</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
