{% extends 'base.html' %}

{% block title %}
Email Sent
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title mb-4">Check Your Email</h2>
                    <p class="card-text">An email containing instructions to reset your password has been sent to your registered email address.</p>
                    <p class="card-text">Please check your email inbox and follow the instructions provided in the email. If you don't receive an email within a few minutes, please check your spam folder.</p>
                    <p class="card-text">If you encounter any issues or have any questions, please contact our support team for assistance.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
