{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Dictionary Results{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Dictionary Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 ml-auto" method="POST" action="{% url 'dictionary' %}">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Enter your search term..." aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">
                    <i class="fas fa-book mr-2"></i> Search
                </button>
            </form>
        </div>
    </div>
</nav>
{%endblock%}

{% block content %}
<div class="container mt-5">
    {% if word %}
        <div class="row mt-5 justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ word.word }}</h5>
                        <p class="card-text"><strong>Phonetic:</strong> {{ word.phonetic }}</p>
                        {% if word.audio %}
                            <p class="card-text">
                                <strong>Audio:</strong>
                                <audio controls class="w-100">
                                    <source src="{{ word.audio }}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </p>
                        {% endif %}
                        <p class="card-text"><strong>Definitions:</strong> {{ word.definition }}</p>
                        <p class="card-text"><strong>Synonyms:</strong></p>
                        <ul class="list-inline">
                            {% for synonym in word.synonyms %}
                                <li class="list-inline-item">
                                    <span class="badge badge-info">{{ synonym }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="card-text"><strong>Antonyms:</strong></p>
                        <ul class="list-inline">
                            {% for antonym in word.antonyms %}
                                <li class="list-inline-item">
                                    <span class="badge badge-secondary">{{ antonym }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                       
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p class="text-center mt-4">No results found.</p>
    {% endif %}
</div>
{% endblock %}
